body {
    box-sizing: border-box;
    font-family: 'Do Hyeon', sans-serif;
}
.photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 3%;
}
a[href] {
    border-radius: 30px;
}
.profile .card-title {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1em;
}
.card > .item {
    display: flex;
}
.header {
    font-weight: bold;
    font-size: 2em;
    font-family: 'Do Hyeon', sans-serif;
}
.head {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1.2em;
}
.second .card {
margin-bottom: 5%;
}
p {
    font-size: 1em ;
    color: 808080;
}
.action .fas,.text-muted {
    font-size: 0.8em;
    font-weight: inherit;
}
.fa-adobe {
    font-size: 1.4em;
    background-color: orange;
}
.fa-facebook {
    background-color: #fff;
    border-radius: 50%;
}
.card-body>.btn-outline-dark{
    /* background-color: orchid; */
    font-weight: 600;
    font-size: 0.7em;
    margin-bottom: 1.7%;
    /* border: groove 2px #a6a6a6; */
}
.profile h5 {
    display: inline
}
span {
    font-size: 0.7em;
    color: #a6a6a6;
}