.wrap {
  min-height: 1000px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Do Hyeon', sans-serif;
}

.header {
  font-weight: bolder;
  font-size: 60px;
  color: #333;
  width: 30%;
  height: 10%;
  margin: 100px 17px;
 
}

.body-container {
  height: 100%;
}
.body-row:first-child { 
  height: 70%;
  width: 100%;
  padding: 10%;
  background-color: #8000ff;
  background: linear-gradient(130deg, #000 0%, #8000ff 0%, #f2e6ff 60%);
  align-content: center;
  color: #fff;
}
.body-row:nth-child(2) {
  height: 60%;
  width: 100%;
  padding: 7%;
  align-content: center;
  border: 1px solid #e6e6e6;
}
.body-row:nth-child(3) {
  margin: auto;
  width: 100%;
  width: 50%;
  margin-top: 50px;
  padding: 3%;
}
.body-row:nth-child(4) {
  height: 60%;
  width: 100%;
  padding-bottom:5%;
}

/* .body-row:last-child {
  background-color: darkred;
  margin-top: 50px;
  width: 100%;
  height: 50%;
} */
.third-img {
  /* background: linear-gradient(85deg, #6600cc 0%, #cc99ff 5%, #f1f1f1 90%); */
  border-radius: 10px;
  margin-right: 100px;
  background: linear-gradient(85deg, #6600cc 0%, #cc99ff 5%, #fff 40%);
  /* background-color: darkorange; */
}
.first-content {
  height: 50%;
  align-content: center;
}
h1 {
  font-family: 'Do Hyeon', sans-serif;
  color: #26004d;
  font-weight: bolder;
  font-size: 3.0rem !important;
}
h3 {
  font-family: 'Do Hyeon', sans-serif;
  color: #26004d;
  font-weight: bolder;
  font-size: 2.0rem !important;
}
p {
  font-family: "Roboto";
  font-size: 1.3em;
}
.glocery-header {
  color: #fff;
  font-family: 'Do Hyeon', sans-serif;
  font-weight: 500;
  font-size: 3rem !important;

}
.info-header {
background-color: #e6e6ff;
border-radius: 20px;
text-align: center;
margin-bottom: 30px;
}
.wrapper{
  margin-right: 500px;
  background-color: darkturquoise;
  /* position: relative;    */
  /* background-color: darkseagreen; */
  /* width: 90%; */
}
.second {
  background-color: #26004d;
  border: 2px solid black;
  height: 300px;
}
.first {
  border: 2px solid black;
  height: 300px;
}
.photo {
  object-fit: cover;
}
.profile {
  /* background-color: lawngreen; */
  padding: 10px;
}
.action {
  color: #26004d;
}
